body {
  margin: 0;
}

/* nav */
.nav {
  display: flex;
  padding: 15px;
  align-items: center;
  background: white;
}
.nav a {
  margin-right: 10px;
}
.logo {
  font-weight: bold;
}

.grey-bg {
  background: #eee;
}
.white-bg {
  background: white;
  margin: 20px;
  border-radius: 5px;
}
.list-box {
  padding: 10px;
  border-bottom: 1px solid#eee;
}
.list-box h4 {
  font-size: 16px;
  margin: 5px;
}
.list-box p {
  font-size: 13px;
  margin: 5px;
  color: grey;
}

/* form */
input,
div {
  box-sizing: border-box;
}
.form-box {
  background: white;
  padding: 25px;
  margin: 20px;
  border-radius: 8px;
}
.form-box input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-box button {
  padding: 10px;
  border: none;
  background: lightgrey;
  border-radius: 5px;
}

/* detail */
.detail-bg {
  background: white;
  padding: 15px;
  margin-top: 10px;
}

.search {
  margin-left: 20px;
  padding: 5px;
}
.search-send {
  padding: 6px 10px;
  background: lightgray;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
}

/* comment */
.comment {
  margin: 0 auto;
  padding: 30px;
  width: 800px;
  border: 1px black solid;
  border-radius: 10px;
}
.comment__title {
  color: red;
}
.comment__input {
  width: 300px;
  height: 50px;
  border-radius: 20px;
}

/* 챗팅 기능 */

.chat-screen {
  max-width: 50%;
  padding: 30px;
  border-radius: 10px;
  background-color: #c8bcbc;
  height: 600px; /* 높이의 최대값을 설정해도 좋아요 */
  overflow-y: auto;
}
.chat-box {
  margin-top: 15px;
  display: flex;
}
.chat-box span {
  padding: 10px;
  background: #eee;
  border-radius: 20px;
}
.mine {
  justify-content: end;
}

.chat-box.mine span {
  background: #fefe57;
  border-radius: 20px;
}

.chat-input {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}
.chat-button {
  padding: 10px;
  border: none;
  background: lightgrey;
  border-radius: 5px;
}
