<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>채팅중인 항목</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>

    <!-- 채팅방 상세 페이지 -->
    <%= JSON.stringify(result) %>

    <div class="white-bg">
      <% for (let i = 0; i < result.length; i++){ %>
      <div class="list-box">
        <h4>
          <a href="/chat/detail/<%= result[i]._id %>"> 채팅방 <%= i %></a>
        </h4>
        <p>채팅방입니당</p>
      </div>
      <% } %>
    </div>
  </body>
</html>
