<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('nav.ejs') %>

    <div class="detail-bg">
      <h4><%= result.title %></h4>
      <p><%= result.content %></p>
      <% if(result.img) { %> <% for(let i =0; i < result.img.length; i++ ){ %>
      <img src="<%= result.img[i] %>" alt="사진없음" height="200px" />
      <% } %> <% } %>
    </div>
  </body>
</html>
