<div class="nav">
  <a class="logo" href="/" style="text-decoration: none; color: black"
    >AppleForum</a
  >
  <a href="/list" style="text-decoration: none; color: black">List</a>
  <a href="/write" style="text-decoration: none; color: black">write</a>
  <a href="/login" style="text-decoration: none; color: black">login</a>
  <a href="/register" style="text-decoration: none; color: black">register</a>
  <a href="/chating" style="text-decoration: none; color: black">채팅방</a>
</div>
