<div class="nav">
  <a class="logo" href="/" style="text-decoration: none; color: black"
    >AppleForum</a
  >
  <a href="/list" style="text-decoration: none; color: black">List</a>
  <a href="/write" style="text-decoration: none; color: black">write</a>
</div>
