<section class="prompt">
  <h1>로그인</h1>
  <form action="/auth/login" method="post">
    <div>
      <label for="email">이메일</label>
      <input type="email" name="email" type="text" required />
    </div>
    <div>
      <label for="password">비밀번호</label>
      <input type="password" name="password" type="text" required />
    </div>
    <button type="submit">로그인</button>
  </form>
  <br />
  <a href="/auth/google">Google로 로그인하기</a>
  <br />
  <a href="/auth/kakao">Kakao로 로그인하기</a>

  <p>이미 아이디가 없다면 <a href="/signup">회원가입</a></p>
</section>
