<section class="prompt">
  <h1>회원 가입</h1>
  <form action="/signup" method="post">
    <div>
      <label for="email">이메일</label>
      <input type="email" name="email" type="text" required />
    </div>
    <div>
      <label for="password">비밀번호</label>
      <input type="password" name="password" type="text" required />
    </div>
    <button type="submit">로그인</button>
  </form>
  <p>이미 아이디가 있다면 <a href="/login">Sign in</a></p>
</section>
